<div class="container">
<div class="top-content">
        	
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong></strong> Login Form</h1>
                    <div class="description">
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                  <div class="form-top">
                    <div class="form-top-left">
                      <h3>Login to our site</h3>
                        <p>Enter your username and password to log on:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-key"></i>
                    </div>
                  </div>
                    <div class="form-bottom">
                        
                  <form role="form" [formGroup]="formLogin" (ngSubmit) ='login()'>
                    <div class="form-group">
                      <label class="sr-only" for="form-username">Email</label>
                        <input type="text" name="email" required  placeholder="Email..." class="form-username form-control" id="email" formControlName="email">
                        <span class="text-danger" *ngIf="!formLogin.controls['email'].valid && formLogin.controls['email'].touched">
                            email is required
                          </span>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" required name="password" placeholder="Password..." class="form-password form-control" id="password" formControlName="password">
                        <span class="text-danger" *ngIf="!formLogin.controls['password'].valid && formLogin.controls['password'].touched">
                            password is required
                          </span>
                      </div>
                      <button type="submit" class="btn btn-success">Login</button>
                  </form>
                </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
</div>